*{margin: 0; padding: 0; box-sizing: border-box;}
body{background: lightpink url('https://picsum.photos/1920/1080?random=1') no-repeat 100% 100%/100% 100%; width: 100vw; height: 100vh;}
#wrap{width: 100vw; height: 100vh;}
h2#clock{text-align: center; background-image: linear-gradient(45deg, aliceblue, transparent); transform: translateY(30vh); height: 20vh; line-height: 20vh; font-size: 6rem;}
#weather{text-align: right; margin-top: 5%;}
#weather span{color: azure; background: rgba(0, 0, 0, .4); display: inline-block; text-align: center; height: 60px; line-height: 60px; padding: 0 2%;}
#weather span:last-child{font-weight: bold; margin-right: 5%;}

@media screen and (max-width: 280px) {
    h2#clock{font-size: 3.5rem;}
    
}
@media screen and (min-width: 281px) and (max-width: 414px) {
    h2#clock{font-size: 4.5rem; height: 15vh; line-height: 15vh;}
}

@media screen and (min-height: 914px){
    h2#clock{font-size: 5rem;}
}